body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
#contenedor {
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
   
}
#rectangulo {
    display: flex;
    flex-direction: row;
    

}

#foto{
    width: 350px;
    display: flex;
    border-radius: 10px 0 0 10px;
   
}

#text-container {
    width: 350px;
    background-color: white;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;

}

#texto-dentro {
    display: flex;
    flex-direction: column;
   
}

#textos {
    margin-left: 30px;
    margin-right: 5px;
}

#perfume {
    letter-spacing: 5px;
    margin: 15px;
    color: #a2a2aa;
}

h1{
    text-align: left;
    margin: 15px;
    font-size: 40px;
}

#descripcion {
    
    text-align: left;
    margin: 15px;
    margin-bottom: -5px;
    color: #a2a2aa;
    line-height:30px;
    
}

#precio {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
}

#major {
    font-size: 35px;
    color:#3c826a;
    padding-right: 50px;
    margin-right: 20px;
}

#minor {
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: -40px;
}

#boton {
    text-align: center;
    justify-content: center;
}

button {
    width: 250px;
    height: 50px;
    border: none;
    background-color:#3c826a;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

button:hover {
    background-color: #1E8449;
}

@media only screen and (max-width: 375px) {
    #contenedor {
        display:flex ;
        justify-content: center;
        align-items: center;
        height: 90vh;
        
       
    }
    #rectangulo {
        display: flex;
        flex-direction: column;
        
    
    }
    #foto{
        height: 250px;
        display: flex;
        border-radius: 10px 10px 0 0px;
        object-fit: cover;

       
    }
    
    #text-container {
        width: 350px;
        background-color: white;
        display:flex ;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
    }

    h1{
        text-align: left;
        margin: 15px;
        font-size: 30px;
    }
    button {
        width: 300px;
        height: 50px;
        margin-bottom: 20px;
        border: none;
        background-color:#3c826a;
        color: white;
        border-radius: 5px;
        font-size: 18px;
    }
  }

